h1 {
    font-size: $xx-large;
    padding-top: 10px;
}

h5 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: $x-small;
    font-weight: $bold;
}

h2 {
    font-size: $normal;
    font-weight: $bold;
}
p {
    font-size: $small;
    font-weight: $light;
}


@media only screen and (min-width: $tablet) {
    h1 {
        font-size: $x-large;
    }
    h5 {
        font-size: $x-small;

    }
    h2 {
        font-size: $small;
        font-weight: $bold;
    }
    p {
        font-size: $x-small;
    }

}
