// Font famaily
$merri: 'Merriweather', serif;
$poppins: 'Poppins', sans-serif;

// Pesos
$light: 300;
$regular: 400;
$bold: 700; 

//Tamaños
$x-small: 14px; 
$small: 18px;
$normal: 25px;
$large: 38px;
$x-large: 44px;
$xx-large: 50px;


// Breakpoints
$celular: 576px;
$tablet: 768px;
$desktop: 992px;