.title_section {
    font-family: $poppins;
}
.card__body--titulo {
    font-size: $small;
}

.card__body--visitas {
    font-size: $x-small;
}

img {
    max-width: 320px;
    width: 100%;
    height: auto;
}

