.navbar-light .navbar-toggler {
    border-color: transparent;
}
.container {
    max-width: 78%
}

.navbar-toggler-icon {
    font-size: 25px;
}

.fas {
    color: black;
}

.profile__thumbnail--yuki {
    max-width: 80px;
    height: 80px;
    border-radius: 50%;
    border-radius: 1px solid black;
}


@media only screen and (min-width: $tablet) {
    .navbar {
        padding: 0;
    }

    .container {
        max-width: 90%;
        padding: 10px 0;
    }

    .banner__section {
        background-repeat: no-repeat;
        background-position: center ;
        height: 200px;
        width: 100%;
    }

    .profile__thumbnail--yuki {
        max-width:50px;
        height: 50px;

    }
}
